@import 'colors.scss';

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 60px;
  box-shadow: 0 1px 0 0 $second-gray;
  border: none;
  color: white;
  background: $grean;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 120px;

  &:focus {
    border: none;
    outline: 0;
  }

  &:hover {
    background-color: $second-grean
  }

  &:active {
    background-color: $second-grean;
    box-shadow: 0 2px $second-gray;
    transform: translateY(1px);
  }

  &:before {
    content: " ";
    background: url("../images/shopping-cart.svg") center / contain no-repeat;
    width: 6px;
    padding: 10px;
  }
}
